*{
    padding: 0;
    margin: 0;
    font-family: "Manrope", sans-serif;
}

.burger-menu-icon {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 30px;
height: 30px;
cursor: pointer;
position: fixed;
right: 0;
padding: 18px;
top: -1px;
z-index: 9999;
}

.burger-menu-icon span {
width: 100%;
height: 4px;
background-color: white;
margin-bottom: 4px;
transition: transform 0.3s ease-in-out;
}

.burger-menu-icon.open span:nth-child(1) {
transform: rotate(45deg) translate(6px, 6px);
}

.burger-menu-icon.open span:nth-child(2) {
opacity: 0;
}

.burger-menu-icon.open span:nth-child(3) {
transform: rotate(-45deg) translate(6px, -6px);
}

.burger-menu {
display: none;
position: fixed;
color: white;
top: 40px;
left: 0;
background: transparent; 
backdrop-filter: blur(15px); 
border: 2px solid rgba(255, 255, 255, .5); 
border-radius: 15px;
padding: 20px;
transition: transform 0.3s ease-in-out;
animation: slide-down 0.5s ease-in-out;
z-index: 9998;
}

@keyframes slide-down {
from {
transform: translateY(-100%);
}
to {
transform: translateY(0);
}
}

.burger-menu.open {
display: block;
transform: translateY(0);
transition: transform 0.3s ease-in-out;
}

.burger-menu ul {
list-style: none;
padding: 0;
margin: 0;
}

.burger-menu ul li {
margin-bottom: 10px;
}

.burger-menu ul li a {
text-decoration: none;
color: black;
font-size: 16px;
}

.burger-menu a {
text-decoration: none;
color: orange;
line-height: 1.5em;
transition: margin 0.3s ease-in-out;
}

.burger-menu a:hover,
.burger-menu a:focus {
text-shadow: 0 0 5px red;
margin-left: 0.5em;
outline: none;
position: relative;
}

.burger-menu a::before {
position: absolute;
left: -1em;
content: ">";
color: transparent;
}

.head{
width: 464px;
height: 975px;
}

.shapka{
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
padding: 15px;
width: 416px;
height: 40px;
}

.logo{
width: 40px;
height: 40px;
}

.bg1{
height: 650px;
width: 464px;
z-index: -2;
position: absolute;
}

.bg2{
width: 462px;
z-index: -1;
position: absolute;
height: 650px;
}

.zagolovok{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 25px;
width: 432px;
height: 203px;
margin-top: 155px;
margin-left: 16px;
}

.zagolovok-texts{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 6px;
width: 456px;
height: 136px;
color: white;
}

.zagolovok-text-1{
font-weight: 350;
font-size: 22px;
letter-spacing: 0.02em;
text-transform: uppercase;
text-align: center;
}

.zagolovok-text-2{
font-weight: 700;
font-size: 43px;
letter-spacing: 0.04em;
text-transform: uppercase;
text-align: center;
}

.zagolovok-text-3{
font-weight: 350;
font-size: 14px;
text-align: center;
}

.btn{
display: flex;
align-items: center;
justify-content: center;
border: 0;
border-radius: 3px;
padding: 13px 20px;
width: 173px;
height: 42px;
background-color: #799A0D;
text-transform: uppercase;
color: white;
transition: box-shadow 0.5s ease;
}

.btn:hover{
box-shadow: inset 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.kategory{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
flex-direction: row;
border-radius: 4px;
width: 416px;
height: 500px;
box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.1);
background: white;
margin-top: 50px;
margin-left: 24px;
}

.kategorya{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 20px;
width: 130px;
height: 215px;
}

.three-cards{
display: flex;
}

.two-cards{
display: flex;
flex-direction: row;
}

.podgroup1{
width: 77px;
height: 35px;
margin-top: 53px;
margin-left: 30px;
}

.img-level1{
width: 80px;
}

.nazvaniye1{
width: 132px;
height: 120px;
padding: 10px;
}

.name1{
font-weight: 700;
font-size: 13px;
line-height: 16px;
letter-spacing: 0.01px;
text-transform: uppercase;
text-align: center;
width: 124px;
height: 32px;
}

.text1{
font-size: 11px;
line-height: 131%;
text-align: center;
margin-top: 15px;
}

.line{
stroke: #e0e0e0; 
margin-top: 100px;
}

.podgroup2{
width: 70px;
height: 40px;
margin-top: 30px;
margin-left: 25px;
border: 0.4px;
}

.nazvaniye2{
width: 132px;
height: 120px;
}

.name2{
font-weight: 700;
font-size: 13px;
line-height: 16px;
letter-spacing: 0.01px;
text-transform: uppercase;
text-align: center;
width: 124px;
height: 32px;
}

.text2{
font-size: 11px;
line-height: 131%;
text-align: center;
margin-top: 15px;
}

.group3{
margin-left: 15px;
}

.podgroup3{
width: 77px;
height: 45px;
margin-top: 53px;
margin-left: 40px;
border: 0.4px;
}

.nazvaniye3{
width: 132px;
height: 120px;
padding: 10px;
}

.name3{
font-weight: 700;
font-size: 13px;
line-height: 16px;
letter-spacing: 0.01px;
text-transform: uppercase;
text-align: center;
width: 124px;
height: 32px;
}

.text3{
font-size: 11px;
line-height: 131%;
text-align: center;
}

.group4{
margin-right: 30px;
}

.podgroup4{
width: 77px;
height: 45px;
margin-top: 50px;
margin-left: 35px;
}

.nazvaniye4{
width: 132px;
height: 120px;
padding: 10px;
}

.name4{
font-weight: 700;
font-size: 13px;
line-height: 16px;
letter-spacing: 0.01px;
text-transform: uppercase;
text-align: center;
width: 124px;
height: 32px;
}

.text4{
font-size: 11px;
line-height: 131%;
text-align: center;
}

.group5{
margin-left: 35px;
}

.podgroup5{
width: 77px;
height: 45px;
margin-top: 40px;
margin-left: 30px;
}

.nazvaniye5{
width: 132px;
height: 120px;
padding: 10px;
}

.name5{
font-weight: 700;
font-size: 13px;
line-height: 16px;
letter-spacing: 0.01px;
text-transform: uppercase;
text-align: center;
width: 124px;
height: 32px;
}

.text5{
font-size: 11px;
line-height: 131%;
text-align: center;
margin-top: 7px;
}

.kompany{
width: 464px;
height: 522px;
margin-top: 120px;
}

.bg2-1{
position: absolute;
z-index: -2;
width: 464px;
height: 522px;
}

.bg2-2{
position: absolute;
width: 350px;
height: 522px;
z-index: -1;
}

.line-in-fon{
border: 1px solid gray;
margin-top: 260px;
left: 25px;
width: px;
height: 0px;
transform: rotate(-90deg);
opacity: 0.15;
position: absolute;
z-index: 2;
}

.text-block{
font-family: sans-serif;
padding-left: 70px;
width: 354px;
height: 362px;
}

.frame{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 25px;
padding-top: 50px;
width: 370px;
height: 285px;
}

.frame-zagolovok{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
width: 170px;
height: 38px;
}

.frame-header{
font-weight: bold;
font-size: 24px;
letter-spacing: 0.01em;
color: #799A0D;
text-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.frame-zagolovok-line{
border-bottom: 2px solid #799A0D;
padding-bottom: 15px;
}

.head-podframe{
color: #FFFFFF;
font-weight: 500;
font-size: 24px;
margin-top: 20px;
}

.paragraf-podframe{
color: #BCCAD2;
font-weight: 350;
font-size: 16px;
margin-top: 20px;
}

.production{
display: flex;
flex-direction: column;
margin-top: 80px;
width: 416px;
height: 312px;
}

.production-zagolovok{
display: flex;
align-items: flex-end;
justify-content: flex-start;
flex-direction: row;
gap: 105px;
width: 415px;
height: 40px;
margin-left: 15px;
}

.production-zagolovok-block{
display: flex;
align-items: flex-end;
justify-content: flex-start;
flex-direction: row;
gap: 10px;
width: 220px;
height: 40px;
}

.nasha-productciya{
font-weight: 600;
font-size: 21px;
}

.strelky{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 10px;
width: 90px;
height: 40px;
}

.strelka-suda{
display: flex;
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
border-radius: 100px;
border: 0;
background-color: white;
box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.1);
transition: box-shadow 0.5s ease;
}

.strelka-suda:hover{
box-shadow: inset 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.strelka-tuda{
display: flex;
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
border-radius: 100px;
border: 0;
background-color: white;
box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.1);
transition: box-shadow 0.5s ease;
}

.strelka-tuda:hover{
box-shadow: inset 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.production-cards{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 16px;
width: 416px;
height: 242px;
margin-top: 40px;
margin-left: 5px;
}

.production-card{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 13px;
margin-left: 10px;
width: 128px;
height: 242px;
}

.production-img{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: 128px;
height: 151px;
}

.production-img-fon{
border-radius: 10px;
width: 128px;
height: 151px;
box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.1);
padding-top: 30px;
padding-left: 10px;
}

.ugol-img{
width: 117px;
height: 90px;
}

.production-text-block{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 7px;
width: 128px;
height: 78px;
}

.ugol-text-name1{
font-weight: 300;
font-size: 11px;
letter-spacing: 0.02em;
}

.ugol-text1{
font-weight: 550;
font-size: 14px;
letter-spacing: 0.001em;
}

.footer{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 50px;
width: 464px;
height: 840px;
background-color: #1C1C1C;
margin-top: 80px;
}

.in-footer{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 40px;
width: 366px;
height: 692px;
}

.logo-width-text{
color: #FFFFFF;
margin-top: 30px;
}

.footer-logo{
margin-bottom: 20px;
margin-left: 45%;
}

.text-pod-logo{
text-align: center;
margin-bottom: 20px;
font-weight: 100;
letter-spacing: 0.01em;
}

.footer-kategories{
display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: column;
margin-left: 45%;
gap: 40px;
width: 260px;
height: 418px;
color: #FFFFFF;
}

.footer-information{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
width: 165px;
gap: 10px;
text-align: center;
}

.footer-production{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 6px;
}

.productciya{
margin-bottom: 8px;
}

.footer-razdels{
font-size: 14px;
font-weight: 100;
letter-spacing: 0.01em;
margin-left: 10px;
}

.footer-contacts{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 10px;
width: 200px;
}

.folow{
color: #FFFFFF;
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 15px;
width: 270px;
height: 160px;
margin-top: 20px;
}

.podpiska-text{
margin-left: 40px;
}

.folow-text{
font-weight: 100;
letter-spacing: 0.01em;
font-family: "Manrope", sans-serif;
margin-left: 80px;
}

.footer-forma{
width: 300px;
height: 39px;
display: flex;
align-items: center;
}

.footer-input{
border-bottom: 1px solid grey;
border-left: 1px solid grey;
border-top: 1px solid grey;
border-right: 0px;
border-radius: 3px 0 0 3px;
padding: 12px 65px 12px 10px;
padding-left: 30px;
width: 33px;
height:15px;
background-image: url(../images/Vectoremail.svg);
background-repeat: no-repeat;
background-position: 7px 50%;
}

input::placeholder {
color: gray;
}

.footer-btn{
display: flex;
align-items: center;
justify-content: center;
border-radius: 0 3px 3px 0;
padding: 13px 20px;
width: 300px;
height: 45px;
color: #FFFFFF;
background: #799A0D;
transition: box-shadow 0.5s ease;
}

.footer-btn:hover{
box-shadow: inset 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.aa {
position: relative;
color: white;
text-decoration: none;
text-align: center;
}

.aa::before {
content: '';
position: absolute;
margin-bottom: -5px;
width: 100%;
height: 4px;
border-radius: 4px;
background-color: #00e5ff;
bottom: 0;
left: 0;
transform-origin: right;
transform: scaleX(0);
transition: transform .3s ease-in-out;
}

.aa:hover::before {
transform-origin: left;
transform: scaleX(1);
}

dialog {
position: fixed;
top: 50%;
left: 50%;
height: 555px;
width: 416px;
transform: translate(-50%, -50%);
z-index: 100;
background: url(../images/dialog-background.png);
border: 0;
border-radius: 10px;
}

dialog::backdrop {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
}  

.dialog{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 80px;
margin-left: 35px;
width: 311px;
height: 393px;
}

.nazad{
position: absolute;
margin: 10px;
right: 0;
}


.back{
display: flex;
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
border-radius: 100px;
border: 0;
background-color: white;
box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.1);
transition: box-shadow 0.5s ease;
}

.back:hover{
box-shadow: inset 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.dialog-zagolovok{
width: 311px;
height: 61px;
margin-left: 40px;
margin-bottom: 40px;
}

.dialog-zagolovok-text1{
font-weight: 500;
font-size: 22px;
line-height: 152%;
letter-spacing: 0.02em;
text-transform: uppercase;
text-align: center;
margin-bottom: 7px;
}

.dialog-zagolovok-text2{
font-weight: 350;
font-size: 16px;
line-height: 125%;
text-align: center;
}

.inputs-and-button{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
width: 295px;
height: 240px;
}

.input{
display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: column;
border: 1px solid #BCCAD2;
border-radius: 4px;
padding: 10px 10px 10px 20px;
width: 265px;
height: 50px;
}

.inpt1{
background-image: url(../images/user.svg);
background-repeat: no-repeat;
background-position: 15px 50%;
padding-left: 50px;
}

.inpt2{
background-image: url(../images/tell.svg);
background-repeat: no-repeat;
background-position: 15px 50%;
padding-left: 50px;
}

.inpt3{
background-image: url(../images/Почта\ 3.svg);
background-repeat: no-repeat;
background-position: 15px 50%;
padding-left: 50px;
}

.check{
width: 30px;
height: 30px;
}

.konfidencialnost{
font-size: 11px;
}

.underline{
color: black;
}

.dialog-btn{
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 10px;
border: 0;
border-radius: 3px;
padding: 13px 20px;
width: 327px;
height: 45px;
background-color: #799A0D;
font-weight: 400;
text-transform: uppercase;
color: white;
transition: background-color 1s ease;
}

.dialog-btn:hover{
background-color: #3dbc07;
}

.checkbox-and-text{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 10px;
width: 296px;
height: 42px;
}